.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  border-bottom: 2px solid black;
  background: rgb(155, 18, 45);
  text-align: center;
  position: sticky;
  top: 0;
}

.logo-text-container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.logo {
  width: 90px;
  height: 90px;
  margin-left: 10px;
}

.text {
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-left: 15px;
  position: relative;
  top: 16px;
}

.func-container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
 
}

.login-btn {
  width: 200px;
  height: 50px;
  border: 2px solid black;
  margin-right: 0px;
  font-size: 17px;
  cursor: pointer;
  background-image: linear-gradient(-90deg, rgb(84, 73, 185), rgb(147, 136, 243));
  border-radius: 5px;
  font-weight: bold;
}

.register-btn {
  width: 200px;
  height: 50px;
  border: 2px solid black;
  margin-right: 10px;
  font-size: 17px;
  cursor: pointer;
  background-image: linear-gradient(-90deg, rgb(84, 73, 185), rgb(147, 136, 243));
  border-radius: 5px;
  margin: 15px;
  font-weight: bold;
}

.register-btn:hover {
  transform: scale(0.95);
}

.login-btn:hover {
  transform: scale(0.95);
}
