.container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(360deg, rgb(53, 10, 20),rgb(107, 16, 34), rgb(155, 18, 45));
}

/* background-image: linear-gradient(360deg, rgb(53, 10, 20),rgb(107, 16, 34), rgb(155, 18, 45)); */