.publish-game-container {
  width: 100%;
  height: 100%;
}

.forms-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.game-thumbnaill-container {
  min-width: 450px;
  min-height: 500px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  border: 2px solid white;
  border-radius: 10px;
}

@media(max-width: 500px) {
  .game-thumbnaill-container {
    width: 95%;
  }
}

.thumbnail-text {
  color: white;
  font-size: 27px;
}

.thumbnail {
  width: 50%;
  height: auto;
  margin-top: 60px;
  object-fit: cover;
}

.create-btn {
  width: 300px;
  height: 55px;
  border: 2px solid white;
  background-image: linear-gradient(-100deg, rgb(27, 117, 7), rgb(68, 223, 29));
  font-size: 18px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}


@media(max-width: 350px) {
  .create-btn {
    width: 95%;
  }
}

.create-btn:hover {
  transform: scale(0.95)
}