.register-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}

.register-forms {
  width: 500px;
  height: 745px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.first-last-name-fields-container {
  width: 96%;
  height: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.first-last-name-field-container {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
}

.first-last-name-category {
  font-size: 18px;
  color: white;
  position: absolute;
  top: -10px;
  left: 5px;
}

.first-last-name-input {
  width: 100%;
  height: 55px;
  border: 2px solid white;
  position: absolute;
  bottom: 0;
  background: none;
  border-radius: 10px;
  color: white;
}

.first-last-name-input:focus {
  outline: none;
}

.form-field-container {
  width: 90%;
  height: 90px;
  border-radius: 15px;
  margin-top: 30px;
  position: relative;
}

.category {
  font-size: 18px;
  color: white;
  position: absolute;
  top: -19px;
  left: 5px;
}

.fields-input {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: none;
  border: 2px solid white;
  color: white;
}

.fields-input:focus {
  outline: none;
}

.register-button {
  width: 280px;
  height: 60px;
  border: 2px solid white;
  border-radius: 15px;
  margin-top: 30px;
  font-size: 19px;
  cursor: pointer;
  background-image: linear-gradient(-90deg, rgb(84, 73, 187), rgb(147, 136, 243));
  font-weight: bold;
}

@media(max-width: 430px) {
  .register-forms {
    width: 100%;
  }
  .register-button {
    width: 80%;
  }
  .first-last-name-fields-container {
    flex-direction: column;
    position: relative;
    margin-top: 0;
    height: auto;
  }
  .first-last-name-field-container {
    width: 100%;
    margin-left: 0px;
  }
  .first-last-name-category {
    position: relative;
    top: 15px;
  }
  .first-last-name-input {
    position: relative;
    margin-left: 0;
    width: 90%;
  }
}

.register-button:hover {
  transform: scale(0.95);
}
